<div class="navbar-wagon">
  <!-- Logo -->
<%= link_to "List of all the best restaurants", restaurants_path, class: "link-homepage"  %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Add a restaurant", new_restaurant_path, class: 'btn btn-primary'  %>
  </div>
</div>
